# Maven build output
target/

# TestNG / Playwright reports
test-output/

# Keep empty folder if needed
!test-output/.gitkeep

# Allure results
allure-results/
allure-report/

# IDE files
.idea/
*.iml
.settings/
.classpath
.project

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log